<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>createProductServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.CreateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createProductServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProductServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProductServlet</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProductsListServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.EditProductsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editProductsListServlet</servlet-name>
        <url-pattern>/product/editor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productListServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productListServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <!--TODO CHECK IF WORKS! NEEDS COOKIE IN POST REQUEST-->
    <servlet>
        <servlet-name>removeFromCartServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeFromCartServlet</servlet-name>
        <url-pattern>/cart/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeFromCartServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeFromCartServlet</servlet-name>
        <url-pattern>/cart/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeProductServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeProductServlet</servlet-name>
        <url-pattern>/product/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/cart/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>com.iryna.web.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

</web-app>